@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #f6f8fb;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: #0f172a;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

* { box-sizing: border-box; }

.container-page{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
}

/* pequenas melhorias */
.shadow-soft{
  box-shadow: 0 12px 40px rgba(2, 6, 23, 0.08);
}